.sidebarContainer {
  width: 27%;
}
.CardHeader {
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
  letter-spacing: 2px;
  color: #333;
}
.profileimageContainer {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  padding-left: 54px;
}
.profileimageContainer img {
  max-width: 90%;
  max-height: 90%;
}
.personalBio {
  font-size: 14px;
  color: #565673;
  font-weight: 300;
}
.cardBody {
  padding-left: 20px;
}
.recentPosts {
  padding: 20px 0;
}
.recentPost {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
.recentPost h3 {
  color: #6c6c6c;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.recentPost span {
  font-size: 10px;
  font-weight: 400;
  color: #6c6c6c;
}
